<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e177e3">  <td>21/04/27 20:01:46</td>   <td>0</td> <td title="&lt;&lt;BaseClass.afterSuit()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="e177e3">  <td>21/04/27 20:01:05</td>   <td>-41299</td> <td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/04/27 20:01:13</td>   <td>-33062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">logintest</td> 
  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/04/27 20:01:42</td>   <td>-3938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.logintest(java.lang.String, java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">logintest</td> 
  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/04/27 20:01:05</td>   <td>-40652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/04/27 20:01:35</td>   <td>-10652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup(java.lang.String)[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/04/27 20:01:35</td>   <td>-11305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@854487022</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/04/27 20:01:45</td>   <td>-813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.euclidemerlad.testcases.LoginPageTest@6631f5ca]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@854487022</td>   <td></td> </tr>
</table>
